table {
  border: 1px solid;
}

table td {
  table-layout: fixed;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 250%;
  border: 1px solid;
}

.winning {
  background: green;
  color: white;
}
