<!DOCTYPE html>
<html ng-app='ngOughts'>
  <head>
    <meta charset="utf-8" />
    <title>ngOughts & crosses</title>
    <link rel="stylesheet" type="text/css" href="./css/app.css" />
  </head>

  <body ng-controller="BoardCtrl">

    <h1 ng-show="board.won">YOU ARE WINNER!</h1>

    <table border=1>
      <tr ng-repeat="row in board.grid">
        <td ng-repeat="cell in row" ng-click="board.playCell(cell)" ng-class="{'winning': cell.winning}">
          {{ cell.marker }}
        </td>
      </tr>
    </table>

    <button ng-click="board.reset()">reset board</button>

    <script data-require="angular.js@1.0.x" src="http://code.angularjs.org/1.0.7/angular.min.js" data-semver="1.0.7"></script>
    <script type="text/javascript" src="./js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="./js/board.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
  </body>
</html>
